@model Appointment.ViewModels.SpesialisScheduleViewModel

<form method="post">
    <h4>Schedule Spesialis</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="IdSpesialisSchedule" />
    <div class="form-group row">
        <label class="col-md-2" asp-for="IdSpesialis">Spesialis Name</label>
        <div class=" col-md-10">
            <select asp-for="IdSpesialis" asp-items="ViewBag.Spesialist" class="form-control text-sm select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;"></select>
            <span asp-validation-for="IdSpesialis" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="UserId">Doctor Name</label>
        <div class=" col-md-10">
            <select asp-for="UserId" asp-items="ViewBag.DoctorList" class="form-control text-sm select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;"></select>
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="UserId">Hari</label>
        <div class=" col-md-10">
            <select asp-for="ScheduleDay" asp-items="ViewBag.DayList" class="form-control text-sm select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;"></select>
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="UserId">Jam</label>
        <div class=" col-md-5">
            <select asp-for="StartDate" asp-items="ViewBag.Hours1" class="form-control text-sm select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;"></select>
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class=" col-md-5">
            <select asp-for="EndDate" asp-items="ViewBag.Hours2" class="form-control text-sm select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;"></select>
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Status">Status</label>
        <div class=" col-md-10">
            <input asp-for="Status" class="form-control" readonly />
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="UserCreated">User Created</label>
        <div class=" col-md-10">
            <input asp-for="UserCreated" class="form-control" readonly />
            <span asp-validation-for="UserCreated" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="DateCreated">Date Created</label>
        <div class=" col-md-10">
            <input asp-for="DateCreated" class="form-control" readonly />
            <span asp-validation-for="DateCreated" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="UserModified">User Modified</label>
        <div class=" col-md-10">
            <input asp-for="UserModified" class="form-control" readonly />
            <span asp-validation-for="UserModified" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="DateModified">Date Modified</label>
        <div class=" col-md-10">
            <input asp-for="DateModified" class="form-control" readonly />
            <span asp-validation-for="DateModified" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2">Action</label>
        <div class="col-md-4">
            <a asp-controller="SpesialisSchedule" asp-action="Index" class="btn btn-primary form-control text-white">Back to List</a>
        </div>
        <div class="col-md-3">
            <input type="submit" value="Edit" class="btn btn-primary form-control text-white" asp-controller="SpesialisSchedule" asp-action="PostEdit" asp-route-id="@Model.IdSpesialisSchedule" />
        </div>
        <div class="col-md-3">
            <input type="submit" value="Delete" class="btn btn-danger form-control text-white" asp-controller="SpesialisSchedule" asp-action="PostDelete" asp-route-id="@Model.IdSpesialisSchedule" />
        </div>               
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

}