@model Appointment.ViewModels.RoleViewModel

@{
    ViewData["ParentTitle"] = "List Roles";
    ViewData["Title"] = "Create Roles";
}

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Account" asp-action="CreateRole">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card">
                <div class="card-header bg-primary">
                    <h3>Create Roles</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="RoleName" class="control-label"></label>
                        <input asp-for="RoleName" class="form-control" />
                        <span asp-validation-for="RoleName" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn text-white btn-primary" />
                        <a asp-action="IndexRoles" class="btn btn-primary">Back to List</a>
                    </div>
                </div>
            </div>


        </form>
    </div>
</div>
