@model Appointment.ViewModels.ForgotPasswordViewModel
<h1>Forgot Password</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="ForgotPassword">
            <div class="form-group row">
                <label class="col-md-3" asp-for="Email">Enter your email address</label>
                <div class=" col-md-5">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class=" col-md-4">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </div>            
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}