@model Appointment.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<form method="post" asp-action="ResetPasswordAdminPost" asp-controller="Account">
    <h4>Reset Password</h4>
    <hr />
    @Html.AntiForgeryToken()
    <input asp-for="Email" type="hidden" value="@ViewBag.UserName" />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Email"></label>
        <div class=" col-md-10">
            <input asp-for="Email" value="@ViewBag.UserName" class="form-control text-sm" disabled />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Password"></label>
        <div class=" col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="ConfirmPassword"></label>
        <div class=" col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2">Action</label>
        <div class="col-md-5">
            <a asp-controller="Account" asp-action="Index" class="btn btn-primary form-control text-white">Back to List</a>
        </div>
        <div class="col-md-5">
            <input type="submit" value="Reset" class="btn btn-danger form-control text-white" />
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <partial name="_ValidationScriptsPartial" />
}