

<form method="post">
    <div>
        <input type="radio" value="Option1" />
        <label>Option 1</label>
    </div>
    <div>
        <input type="radio" value="Option2" />
        <label>Option 2</label>
    </div>
    <div>
        <input type="radio" value="Option3" />
        <label >Option 3</label>
    </div>
    <button type="submit">Submit</button>
</form>